@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  background-color: whitesmoke;
}

h1, h2, h3, h4, h5 {
  font-family: 'Varela Round', sans-serif;
}

.large--banner--photo {
  width: 100%;
  object-fit: contain;
  background-image: url(../public/images/banner_photo_4.png);
  height: 900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}